.logo {
  padding: 10px;
  height: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar.open {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 160px;
  background-color: #b9b9b9b9;
  transition: width 0.3s ease;
}

.navButtonText {
  display: none;
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  color: black;
  padding-left: 10px;
}

.open .navButtonText {
  display: block;
}

.navBar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 65px;
  background-color: #b9b9b9;
  transition: width 0.3s ease;
  overflow: hidden;
}

.navBar a{
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
}

.navBar a:hover{
  background-color: #ffffff;
  color: black;
}

.navbuttons {
  padding-top: 50px;
  font-family: monospace;
  display: block;
  justify-content: space-between;
  align-items: center;
}

.navbuttons img{
  width: 40px;
  padding-bottom: 13px;
  padding-top: 13px;
  padding-left: 13px;
  padding-right: 13px;
  justify-content: space-between;
  align-items: center;
  display: block;
}

.navbuttons img:hover{
  transition: background-color 0.3s ease;
  background-color: #ffffff;
  color: black;
}

.navbuttons a {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.scrollIndicator {
  position: absolute;
  width: 100%;
  background-color: white;
  transition: height 0.3s ease, top 0.3s ease;
}