@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  height: 55px;
  pointer-events: none;
}

.topnav {
  background-color: #b3b3b3;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
}

.topnav a {
  float: left;
  align-content: center;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  transition: background-color 0.3s ease;
  background-color: #ffffff;
}

.navbuttons {
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

.navbuttons a {
  font-size: 20px;
  width: 100%;
  color: black;
  text-align: center;
}

.menu-icon {
  padding: 20px 20px;
  cursor: pointer;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.menu-icon:hover {
  transition: background-color 0.3s ease;
  background-color: #ffffff;
}

.menu-icon span {
  display: block;
  height: 3px;
  width: 100%;
  background: black;
  transition: transform 0.5s ease;
}

.menu-icon.open span:first-child {
  transform: translateY(8.5px) rotate(45deg);
  position: relative;
}

.menu-icon.open span:last-child {
  transform: translateY(-8.5px) rotate(-45deg);
  position: relative;
}